body{
      background-color: black;
}

p{
    padding: 10%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: bold;
    color: rgb(30, 255, 0);
}

button{
        font-family: Algerian;
        font: bolder;
        font-size: 20px;
        color: rgb(52, 133, 255);
        background-color: rgb(0, 0, 0);
        box-shadow: 1px 5px 15px 0px #ff0000;
        border-radius: 10px;
}

h6{
    font-family: Algerian;
    font: bolder;
    font-size: 20px;
    color: rgb(255, 52, 52);
    background-color: rgb(0, 0, 0);   
}

script{
    background-color: #ff0000;
    font-family: 'Times New Roman', Times, serif;
}